@model IEnumerable<QuizWebApplication.Models.Lectures>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

@{
    IEnumerable<QuizWebApplication.Models.Lectures> lectures = ViewData["Message"] as IEnumerable<QuizWebApplication.Models.Lectures>;
}

<h2>Lectures</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecture)
        </th>
        <th></th>
    </tr>

    @foreach (var item in lectures)
    {
        <tr>
            <td>
                @item.Lecture
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
