@model IEnumerable<QuizWebApplication.Models.Lectures>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

@{
    IEnumerable<QuizWebApplication.Models.Lectures> lectures = ViewData["Message"] as IEnumerable<QuizWebApplication.Models.Lectures>;
}

<br />
<h1 style="font-weight:bold">Lectures</h1><br />

<div style="font-size:x-large; font-weight:bold">
    <a href="/Lectures/Create"> Create new lecture </a><br /><br />
</div>

<table class="table">
    <tr style="background-color:#006fc4; color:#fff">
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecture)
        </th>
        <th></th>
    </tr>

    @foreach (var item in lectures)
    {
        <tr>
            <td>
                @item.CategoryName
            </td>
            <td>
                <a href="@item.Lecture">Lecture</a>

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>