@model QuizWebApplication.Models.Category

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br /><h1 style="font-weight:bold">Create category</h1><br />
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @*<input type="submit" value="Create" class="btn btn-default" />*@
            <input type="submit" value="CREATE" class="btn btn-primary btn-lg">
        </div>
    </div>
</div>
}
<br />
    <div style="font-size:x-large; font-weight:bold">
        <a href="/Category/Index"> Back to categories list </a>
    </div>
