@model IEnumerable<QuizWebApplication.Models.Grades>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

<br />
<h1 style="font-weight:bold">Catalog</h1>
<br />


<h3 style="font-weight:bold">
    Displaying grades for:
    <span style="font-style:italic">
        @Model.First().FirstName
        @Model.First().LastName
    </span>
</h3>

<table class="table">
    <tr style="background-color:#006fc4; color:#fff">
        <th>
            Quiz
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade) %
            </td>
        </tr>
    }

</table>

<br />
<div style="font-size:x-large; font-weight:bold">
    <a href="/Catalog/Index"> Back to catalog </a>
</div>