@model QuizWebApplication.Models.QuizCategoryQuestionClass
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

@*@{
        IEnumerable<QuizWebApplication.Models.QuizCategoryQuestionClass> quizCategoryQuestions = ViewData["Message"] as IEnumerable<QuizWebApplication.Models.QuizCategoryQuestionClass>;
    }*@

<br />
<h1 style="font-weight:bold">Modules</h1><br />

@*<div id="accordion1" style="text-align:justify">
        @foreach (var item in quizCategoryQuestions)
        {
            <h3><u>@item.CategoryName</u></h3>

                @item.Lecture
                @item.QuestionText.
        }
    </div>*@
<div>
    @for (int i = 0; i < Model.CategoryId; i++)
        {
        @Model.CategoryName

            for (int j = 0; j < Model.QuestionText[i]; j++)
            {
                @Model.QuestionText
        }

        for(int k = 0; k < Model.Lecture[i]; k++)
        {
            @Model.Lecture
        }

    }
    }
</div>