@model QuizWebApplication.Models.Answers

@Html.HiddenFor(x => x.QuestionId, Model.QuestionId)
@Html.Label(Model.QuestionText)
<br />
@Html.RadioButtonFor(x => x.Answer, Model.QuestionOption1) 
<span>@Model.QuestionOption1</span>
@Html.RadioButtonFor(x => x.Answer, Model.QuestionOption2) 
<span>@Model.QuestionOption2</span>
@Html.RadioButtonFor(x => x.Answer, Model.QuestionOption3) 
<span>@Model.QuestionOption3</span>
@Html.RadioButtonFor(x => x.Answer, Model.QuestionOption4) 
<span>@Model.QuestionOption4</span>
<hr />