@model QuizWebApplication.Models.QuizResult
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/StudentDashboardLayout.cshtml";
}

    <br />
    <h1 style="font-weight:bold">Quiz done for @Model.Questions.First().Question.CategoryName! <br /> </h1>
    <h1>Your result is <span style="font-weight:bold">@Model.Grade.ToString("0.00") % </span> </h1>
    <hr />

    <div style="justify-content:center; display: flex;">
        <div id="sellPerCirc" class="perCirc">
            <div class="perCircInner">
                <div class="perCircStat">@Model.Grade.ToString("0.00")%</div><div>Complete</div>
            </div>
        </div>
        <h2></h2>
    </div>
    <hr />

    <h2>Below you can find the correct answers and the answers filled:</h2>
    <table class="table">
        <tr style="background-color:#006fc4; color:#fff">
            <th>
                Question
            </th>
            <th>
                Correct Option
            </th>
            <th>
                Answer
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @item.Question.QuestionText
                </td>
                <td>
                    @item.Question.CorrectOption
                </td>
                <td>
                    @item.Question.Answer
                </td>
            </tr>
        }

    </table>

    <script>
    perCirc($('#sellPerCirc'), @Model.Grade.ToString("0.00"));

    function perCirc($el, end, i) {
        if (end < 0)
            end = 0;
        else if (end > 100)
            end = 100;
        if (typeof i === 'undefined')
            i = 0;
        var curr = (100 * i) / 360;
        $el.find(".perCircStat").html(Math.round(curr) + "%");
        if (i <= 180) {
            $el.css('background-image', 'linear-gradient(' + (90 + i) + 'deg, transparent 50%, #ccc 50%),linear-gradient(90deg, #ccc 50%, transparent 50%)');
        } else {
            $el.css('background-image', 'linear-gradient(' + (i - 90) + 'deg, transparent 50%, #006fc4 50%),linear-gradient(90deg, #ccc 50%, transparent 50%)');
        }
        if (curr < end) {
            setTimeout(function () {
                perCirc($el, end, ++i);
            }, 1);
        }
    }
    </script>