@model QuizWebApplication.Models.QuizCategoryQuestionClass
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/StudentDashboardLayout.cshtml";
}

<h2>Done</h2>


<table class="table">
    <tr>

        <th>
           @* @Html.DisplayNameFor(model => model.CategoryName)*@
            Category Name
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.QuestionText)*@
            Question Text
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.CorrectOption)*@
            Correct Option
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Answer)*@
            Answer
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @item.QuestionText
            </td>
            <td>
                @item.CorrectOption
            </td>
            <td>
                @item.Answer
            </td>
        </tr>
    }

</table>
