@model QuizWebApplication.Models.QuizResult
@{
    ViewBag.Title = "Done";
    Layout = "~/Views/Shared/StudentDashboardLayout.cshtml";
}

<h2>Done</h2>


<table class="table">
    <tr style="background-color:#006fc4; color:#fff">
        <th>
            @* @Html.DisplayNameFor(model => model.QuestionText)*@
            Question Text
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.CorrectOption)*@
            Correct Option
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Answer)*@
            Answer
        </th>
        <th></th>
    </tr>


@foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @item.Question.QuestionText
            </td>
            <td>
                @item.Question.CorrectOption
            </td>
            <td>
                @item.Question.Answer
            </td>
        </tr>
    }

</table>

<h2>
    Your result is @Model.Grade.ToString("0.00") %
</h2>
