@model IEnumerable<QuizWebApplication.Models.Grades>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StudentDashboardLayout.cshtml";
}

<br />
<h1 style="font-weight:bold">Grades</h1>
<br />


<div style="justify-content:center; display: flex;">
    @if (Model.Count() > 0)
    {
        <div id="sellPerCirc" class="perCirc">
            <div class="perCircInner">
                <div class="perCircStat">@Html.DisplayFor(model => model.Last().FinalGrade)%</div><div>Complete</div>
            </div>
        </div>
    }
    <h2></h2>
</div>
<hr />


<table class="table">
    <tr style="background-color:#006fc4; color:#fff">
        <th>
            Quiz
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @if (item.Grade != null)
                {
                    @Html.DisplayFor(modelItem => item.Grade); <span>%</span>

                } 
            </td>
            @*<td>@item.FinalGrade %</td>*@

        </tr>
    }

</table>


<script>
    perCirc($('#sellPerCirc'), @Model.First().FinalGrade;

    function perCirc($el, end, i) {
        if (end < 0)
            end = 0;
        else if (end > 100)
            end = 100;
        if (typeof i === 'undefined')
            i = 0;
        var curr = (100 * i) / 360;
        $el.find(".perCircStat").html(Math.round(curr) + "%");
        if (i <= 180) {
            $el.css('background-image', 'linear-gradient(' + (90 + i) + 'deg, transparent 50%, #ccc 50%),linear-gradient(90deg, #ccc 50%, transparent 50%)');
        } else {
            $el.css('background-image', 'linear-gradient(' + (i - 90) + 'deg, transparent 50%, #006fc4 50%),linear-gradient(90deg, #ccc 50%, transparent 50%)');
        }
        if (curr < end) {
            setTimeout(function () {
                perCirc($el, end, ++i);
            }, 1);
        }
    }
</script>